@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    background: url('images/eccureil.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-container{
    width: 220px;
    background-color: #fff;
    padding: 15px 8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
}

input{
    flex: 5;
    margin-right: 5px;
    border-radius: 6px;
    font-size: 0.8rem;
    padding: 3px;
}

#add-task{
    font-size: 0.1px;
    padding: 0px;
    flex: 1;
    background-color: #fff;
    color: green;
    border: green solid 1px;
    border-radius: 5px;
    transition: .3s;
}

#add-task:hover{
    background-color: green;
    color: #fff;
}

/*  Styling for task  */


.task{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 3px;
    padding: 5px;
    display: flex;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;


}

.task li{
    list-style: none;
    flex: 4;
    padding: 3px;
    font-size: 0.7rem;
    margin: 10px;
}
.task button{
   
    margin-right: 2px; 
    background-color: #fff;
    flex: 1;
    border-radius: 3px;
    cursor: pointer;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 1
}

.task .checkTask{
    color: orange;
    border: 1px solid orange;
    transition: .3s;
    
}
.task .checkTask:hover{
    background-color: orange;
    color: #fff;
}

.task .deleteTask{
    color: red;
    border: 1px solid red;
    transition: .3s;
    
}
.task .deleteTask:hover{
    background-color: red;
    color: #fff;
}

